# ============================
# Java / Spring Boot / Maven
# ============================

# Carpetas de build
target/
out/

# Archivos de logs
*.log

# Configuraciones del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de IDEs
.idea/
.vscode/
*.iml
*.class

# Archivos temporales de Maven
.mvn/
mvnw
mvnw.cmd

# Archivos del entorno
*.env

# ============================
# Docker
# ============================
# Evita subir volúmenes o builds locales
**/db_data/
*.pid

# ============================
# Otros
# ============================
# Node (por si usas algún front integrado)
node_modules/

# Archivos de backup o temporales
*~
